<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creditease.sgds.product.dao.CategoryMapper">
    <select id="getCategoryList" parameterType="Map" resultType="com.creditease.sgds.product.bean.Category">
    	select id id,
    		   category_name categoryName,
    		   category_desc categoryDesc,
    		   level level,
    		   pid pid,
    		   status status,
    		   category_pic_path categoryPicPath 
    	from tb_product_category 
    	where 1=1
    	        <if test="categoryName != null and categoryName !='' ">
    	        	and category_name = #{categoryName}
    	        </if>
    	        <if test="categoryPicPath != null and categoryPicPath !='' ">
    	        	and category_pic_path = #{categoryPicPath}
    	        </if>
    	        <if test="status != null and status !='' ">
    	        	and status = #{status}
    	        </if>
    </select>
</mapper>