<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditease.sgds.order.dao.OrderDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.creditease.sgds.order.model.OrderDetails" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="order_id" property="orderId" jdbcType="CHAR" />
    <result column="product_id" property="productId" jdbcType="CHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="evaluate_or_not" property="evaluateOrNot" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, product_id, count, evaluate_or_not
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_order_details
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_order_details
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.creditease.sgds.order.model.OrderDetails" >
    insert into tb_order_details (id, order_id, product_id, 
      count, evaluate_or_not)
    values (#{id,jdbcType=CHAR}, #{orderId,jdbcType=CHAR}, #{productId,jdbcType=CHAR}, 
      #{count,jdbcType=INTEGER}, #{evaluateOrNot,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.creditease.sgds.order.model.OrderDetails" >
    insert into tb_order_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="evaluateOrNot != null" >
        evaluate_or_not,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=CHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=CHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="evaluateOrNot != null" >
        #{evaluateOrNot,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.creditease.sgds.order.model.OrderDetails" >
    update tb_order_details
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=CHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=CHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="evaluateOrNot != null" >
        evaluate_or_not = #{evaluateOrNot,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creditease.sgds.order.model.OrderDetails" >
    update tb_order_details
    set order_id = #{orderId,jdbcType=CHAR},
      product_id = #{productId,jdbcType=CHAR},
      count = #{count,jdbcType=INTEGER},
      evaluate_or_not = #{evaluateOrNot,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>