@charset "utf-8";
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul {margin:0;padding:0;}
body,button,input,select,table,textarea {font-size:100px; font-family:'微软雅黑',Verdana,Arial,Helvetica,sans-serif; color:#838383;}
html,body{ padding:0; margin:0; width:100%; height:100%;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
fieldset,img {border:0}
img {max-width: 100%;}
ol,ul {	list-style:none}
address,em {font-style:normal}
a {	color:#838383;	text-decoration:none}
table {	border-collapse:collapse}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.fl{ float: left;}
.fr{ float: right;}
.pos_r{position:relative;}
.pos_a{position:absolute;}
.clearfix { display: block; zoom: 1 }
.clearfix:after {content: " "; display: block; visibility: hidden;height: 0;clear: both;}
.tal{ text-align:left;}
.tac{ text-align: center;}
.tar{ text-align: right;}
.mt10{ margin-top:10px;}
.colorPink{ color:#eb0d56;}
.bgGrey{ background-color:#f0f0f0;}
.mb10{ margin-bottom:.1em;}
.mb110{ margin-bottom:1.1em;}
.mb210{ margin-bottom:2.1em;}
.mb0{ margin-bottom:0 !important;}
.block{ display:block}
.font24{font-size:.24em;}
.font20{font-size:20px;}
.color333{color:#333;}
.colorred{color:#F00;}
.coloryello{color:#F60;}